{% load static %}
<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <title>SolarMobil</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/topbar.css'%}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css'%}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/statusbar.css'%}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/chassis.css'%}" />
    <script language="javascript" type="text/javascript" src="{% static 'js/jquery-1.12.2.min.js'%}"></script>
    <script language="javascript" type="text/javascript" src="{% static 'js/gauge.js'%}"></script>

</head> 
<body>
    <div class="container">
        <div id="topbar">
            <div id="logo"><img src="{% static 'pics/logocircle.png'%}" alt="logo" height="175px" /></div>
            <h1>SolarMobil</h1>
        {%block content%}
        {%endblock%}
</body>
</html>