{% load static %}
<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <title>SolarMobil</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/topbar.css'%}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css'%}" />
    <script type="text/javascript">
         function Check(){
         var pass,id;
         pass = document.getElementById("pss").value;
         id = document.getElementById("log").value;
         if(id == "Shivang" && pass=="1234"){
         window.location = "sensors.html";
         }
         else{
         alert("Wrong Username and Id");
            document.getElementById("pss").value = ""; 
            document.getElementById("log").value = "";
         }
         }
    </script>
</head> 
<body>
    <div class="container">
        <div id="topbar">
            <div id="logo"><img src="{% static 'pics/logocircle.png'%}" alt="logo" height="175px" /></div>
            <h1>SolarMobil</h1>
            <div id="menubar">
                <ul>
                    <li><a href="index.html">HOME</a></li>
                    <li><a href="#">SENSORS</a></li>
                    <li><a href="#">GRAPHS</a></li>
                    <li><a href="#">LOGOUT</a></li>
                </ul>
            </div>
        </div>
        <div class="clear"></div>
        {%block content%}
        {%endblock%}
</body>
</html>