{% extends "loginpage/header.html" %}
{% block content%}
            <div id="logindiv">
            <h1>LOGIN</h1>
            <div id="lg">
                <p>Login ID:</p>
                <input type="text" id="log" />
            </div>
            <div id="pass">
                <p>Password:</p>
                <input type="password" id="pss" />
            </div>
            <input type="submit" value="Proceed" onclick="Check();" />

        </div>
    </div>
    <div class="clear"></div>
    <footer>
        <p id="l1">To fabricate a high performance cruiser class solar electric vehicle and at the same time</p>
        <p id="l2"> focus on practicality and feasibility of the vehicle for daily use, building upon the success of past projects.
        To become a leading student center of</p> <p id="l3">research and development in the field of green transportation with a focus on solar passenger vehicles in the next five years.</p>
    </footer>
{%endblock%}